body {
    
    background-color: #C4C4C0;
 background-image: url('images/white-snow-background.jpg');
    font-size: 87.5%;
    line-height: 1.5;
    font-family: Verdana;
    font: Georgia; 
    text-align: left;
}


.body{
    margin: 0 auto;  /* centers the shit*/
    width:90%;
    clear:both; /*  makes sure nothing floats on either left nor right*/
}



.mainHeaderClass img{
    width: 100%;
     margin: 0 auto
    height:auto;
    
    
}


.carousel{
      margin: 0 auto;
     width:75%;
	border: 0px; 
	 
}



/* ===========================
   ========= Headings ======== 
   =========================== */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */


h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}








/* styling links*/
a{
    text-decoration: none;
    outline: 0;
    
}

a img {
	border: 0px; 
	text-decoration: none;
}




/* styling links to change color of visited link probably gonna do that in js*/
a:link, a:visited{
    text-decoration: none;
    	padding: 0 1px;
}

/* styling links that we hover iover and active ones*/
/*this controls the color of any hovered .. even the carousell*/
a:hover, a:active{
    text-decoration: none;
  //  background-color: #C69694;
	color: #fff;
    
}



/* ********************************************************                                                          
            NAVIGATION BAR                                              
 ******************************************************** */


.mainHeaderClass nav{
    background-color:  #C69694;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.mainHeaderClass nav ul li{
    float: left;
    display:inline;
    
}


.mainHeaderClass nav ul{    
    list-style: none;
    margin: 0 auto;
  
    
}



/* select ALL the Links in Nav  and all the links that have been vivited*/
.mainHeaderClass nav a:link, .mainHeaderClass nav a:visited {
    color: white;
    display:inline-block;
    padding: 10px  25px;
    //height: 20px;
    
}

.mainHeaderClass nav a:hover, 
.mainHeaderClass nav a:active,
.mainHeaderClass nav .active a:link,   /* style all liks that have active class*/
.mainHeaderClass nav .active a:visited
{
    background-color: #cc6666;
    text-shadow: none;
    border-radius: 5px; 
    height:40px; 
    
}


.mainHeaderClass nav ul li  a{
    
       border-radius: 5px; 
    -moz-border-radius:  5px;  /* for Mozilla */
    -webkit-border-radius: 5px;  
}
















/* ********************************************************                                                          
            CONTENT                                              
 ******************************************************** */

.myMainContentClass{
     margin: 0 auto;  /* centers the shit*/
    width:90%;
    clear:both; 
    overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    
  /*overflow: hidden;   WHY IS THIS FUCKING UP lines this div with the lols link */ 
}

.MyContentClass{
  
    /* COLOR NOT WORKING HERE background-color: red;*/
  	width: 90%;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
      /* pushhing left allows sidebar to pop on the right ... weird */
}



.topContent{
    
     background-color: #FFFFFF;

   /* background-color: white;*/
        border-radius: 5px; 
      -moz-border-radius:  5px;  /* for Mozilla */
      -webkit-border-radius: 5px; 
    padding: 3% 5%;
    margin-top:20p%;
   
}

.bottomcontent{
     background-color: #FFFFFF;

   /* background-color: white;*/
        border-radius: 5px; 
      -moz-border-radius:  5px;  /* for Mozilla */
      -webkit-border-radius: 5px; 
    padding: 3% 5%;
    margin-top:20p%;
}



.bottomcontent2{   
    

     background-color: #FFFFFF;

   /* background-color: white;*/
        border-radius: 5px; 
      -moz-border-radius:  5px;  /* for Mozilla */
      -webkit-border-radius: 5px; 
    padding: 3% 5%;
    margin-top:20p%;


}









.post_infoClass {
	font-style: italic;
	color: #999;
	font-size: 85%;
}












/* ******************************************************** 
FOOter
******************************************************** */

.myMainFooterClass{

width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0;
	background-color: #cc6666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #FFF;
}

.myMainFooterClass p {

    width: 91%;

    margin:2%;
}






/* ******************************************************** 
******************************************************** 
CELL PHONE DISPLAY.
******************************************************** 
******************************************************** */

@media only screen and (min-width: 150px) and (max-width: 600px){

    
    .body{
        width:90%;
        font-size: 95%;
        
        
        
    }
    
    .mainHeaderClass img{
        width: 100%; 
        
    }
    
    
    .carousel{
   
     width:100%;
	border: 0px; 
	text-decoration: none;
}

    /* ********************************************************                                                          
            NAVIGATION BAR   ...just erase what will not change as a result of wnidow.size getting smaller                                            
 ******************************************************** */


    .mainHeaderClass nav{
      height: 160px;
        
        
    }
    

    .mainHeaderClass nav ul{  
        padding-left: 0;
    }

    .mainHeaderClass nav ul li{
      width: 100%;
        margin: 0 auto;
    }

    /* select ALL the Links in Nav  and all the links that have been vivited*/
    .mainHeaderClass nav a:link, .mainHeaderClass nav a:visited {
        height:40px; 
        padding: 10px  25px;
        display: block;
         
        
           font-size: 14pt;
        text-decoration: none;

        

    }
    
    .mainHeaderClass nav a:hover, 
.mainHeaderClass nav a:active,
.mainHeaderClass nav .active a:link,   /* style all liks that have active class*/
.mainHeaderClass nav .active a:visited
{
   
    height:40px; 
    
}


.mainHeaderClass nav ul li  a{
    
     height:40px; 
    
}




    
/* ********************************************************                                                          
CONTENT                                              
******************************************************** */

        .myMainContentClass{
          //  overflow: hidden;
            line-height: 30px;;
  

           /* overflow: hidden; WHY IS THIS FUCKING UP lines this div with the lols link */ 
        }

        .MyContentClass{

            /* COLOR NOT WORKING HERE background-color: red;*/
            width: 100%;
            float:left;  /* pushhing left allows sidebar to pop on the right ... weird */
            
            margin-top:2%;
        }


        .topContent{

             background-color: #FFFFFF;

           /* background-color: white;*/
                border-radius: 5px; 
              -moz-border-radius:  5px;  /* for Mozilla */
              -webkit-border-radius: 5px; 
            padding: 3% 5%;
            margin-top:2p%;

        }

    
    
/* ********************************************************                                                          
POST INFO not needed on portable devices                                              
******************************************************** */
    
    .post_infoClass {
	display: none;
        
}

    

    


}
    
    